<div data-hook="admin_inside_subscription_interval_form" class="field">
  <%= f.field_container :name do %>
    <%= f.label :name, t(:name, :scope => :intervals) %> <span class="required">*</span><br />
    <%= error_message_on :subscription_interval, :name, :class => 'fullwidth title' %>
    <%= text_field :subscription_interval, :name, placeholder: "Ex: 3 Months" %>
  <% end %>

  <label><%= t(:time, :scope => :intervals) %> <span class="required">*</span></label><br />

  <%= error_message_on :subscription_interval, :times, :class => 'fullwidth title' %>
  <%= number_field :subscription_interval, :times %>

  <%= error_message_on :subscription_interval, :time_unit, :class => 'fullwidth title' %>
  <%= select_tag "subscription_interval[time_unit]", options_for_select( Spree::SubscriptionInterval::UNITS.invert.to_a, f.object.time_unit ) %>
</div>
