<div data-hook="admin_inside_subscriptions_form" class="field">

<%= form_for @subscription, :url => admin_subscription_url(@subscription), :method => :put do |f| %>

  <%= f.field_container :reorder_on do %>
    <%= f.label :reorder_on, t(:reorder_on, :scope => :subscribe) %> <span class="required">*</span><br />
    <%= error_message_on :subscription, :reorder_on, :class => 'fullwidth title' %>
    <% #= text_field :subscription, :reorder_on %>
    <%= f.text_field :reorder_on, :value => datepicker_field_value(@subscription.reorder_on), :class => 'datepicker' %>
  <% end %>

  <%= f.field_container :state do %>
    <%= f.label :state, t(:state, :scope => :subscribe) %> <span class="required">*</span><br />
    <%= error_message_on :subscription, :state, :class => 'fullwidth title' %>
    <%= select_tag "subscription[state]", options_for_select( Spree::Subscription.reorder_states, @subscription.state ) %>
  <% end %>

  <%= f.field_container :time do %>
    <label><%= t(:time, :scope => :intervals) %> <span class="required">*</span></label><br />

    <%= error_message_on :subscription, :times, :class => 'fullwidth title' %>
    <%= number_field :subscription, :times %>

    <%= error_message_on :subscription, :time_unit, :class => 'fullwidth title' %>
    <%= select_tag "subscription[time_unit]", options_for_select( Spree::Subscription::UNITS.invert.to_a, @subscription.time_unit ) %>
  <% end %>

  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>

<% end %>

</div>
